.backimg {
    background-image: url('../assets/book3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.blur-background {
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
    backdrop-filter: blur(3px); /* Blur effect */
    padding: 20px; /* Inner spacing */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow */
}


